# Plot files

*.eps
*-eps-converted-to.pdf

# Specific files

figures/fit.log
figures/laserCalibrationResultsPlot.tex
figures/sampleAbelImage.tex
figures/sampleAverageImage.tex
figures/sampleCenterlineIntensity.tex
figures/chPLIFSpectrumPlot.tex
figures/chB-XAbsorptionPlot.tex
figures/chRKRPlot.tex
figures/referenceVelocityAnglePlot.tex
figures/referenceVelocityDistancePlot.tex
figures/referenceVelocityHighVelPLIFEdge.tex
figures/referenceVelocityHighVelPLIFHistogram.tex
figures/referenceVelocityHighVelPLIFImage.tex
figures/referenceVelocityLowVelPLIFEdge.tex
figures/referenceVelocityLowVelPLIFHistogram.tex
figures/referenceVelocityLowVelPLIFImage.tex
figures/temperatureLDVResultsPlot.tex
figures/temperatureLDVTransversePlot.tex
figures/highSwirlPLIFHistogram.tex
figures/highSwirlPLIFImage.tex
figures/frame90.tex
figures/frame91.tex
figures/frame92.tex
figures/frame93.tex
figures/frame94.tex
figures/frame95.tex
figures/highEquivalenceRatioPLIFHistogram.tex
figures/highEquivalenceRatioPLIFImage.tex
figures/leanFlameAbelImage.tex
figures/leanFlameAverageImage.tex
figures/richFlameAbelImage.tex
figures/richFlameAverageImage.tex
figures/pressureAnglePlot.tex
figures/pressureDistancePlot.tex
figures/excitationScanFlameImage.tex
figures/excitationScanResultsPlot.tex
figures/linearityResultsPlot.tex
figures/01-300-plot.tex
figures/01-500-plot.tex
figures/01-700-plot.tex
figures/c1c2c3-plot.tex
figures/c1c3-plot.tex
figures/c1c3-t-plot.tex
figures/chPLIFSignalExperimentPlot.tex
figures/gri-sd-delxf-plot.tex
figures/gri-sd-sl-plot.tex
figures/gri-sd-t-plot.tex
figures/gri-sd-xch-plot.tex
      
