# Plot files

*.eps
*-eps-converted-to.pdf

# Specific files

figures/fit.log
figures/laserCalibrationResultsPlot.tex
figures/sampleAbelImage.tex
figures/sampleAverageImage.tex
figures/sampleCenterlineIntensity.tex
figures/chPLIFSpectrumPlot.tex
figures/chB-XAbsorptionPlot.tex
figures/chRKRPlot.tex
figures/referenceVelocityAnglePlot.tex
figures/referenceVelocityDistancePlot.tex
figures/referenceVelocityHighVelPLIFEdge.tex
figures/referenceVelocityHighVelPLIFHistogram.tex
figures/referenceVelocityHighVelPLIFImage.tex
figures/referenceVelocityLowVelPLIFEdge.tex
figures/referenceVelocityLowVelPLIFHistogram.tex
figures/referenceVelocityLowVelPLIFImage.tex
figures/temperatureLDVResultsPlot.tex
figures/temperatureLDVTransversePlot.tex
figures/highSwirlPLIFHistogram.tex
figures/highSwirlPLIFImage.tex

